<html>

<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        #tracks {
            height: 250px;
        }
    </style>
    <script>
        function cleanUp(el) {
            const value = el.value;
            let buf = "";

            for (let v of value.split('\n')) {
                if (v[0] == " ") {
                    buf += (' ' + v.trim());
                } else if (v.trim().match(/\d+:\d+/)) {
                    // skip
                    // buf += (' ' + v.trim());
                } else {
                    buf += ('\n' + v.trim());
                }
            }

            el.value = buf;
            return false;
        }
    </script>
</head>

<body>
    <main class="wrapper">
        <section class="container">
            <h1>Hello, <%= typeof(me) == "undefined" ? 'dear user' : me.display_name %>!</h1>

            <% if (typeof(me) == "undefined") { %>
            <p><a href="/login">Log into Spotify</a> to start</p>
            <% } else { %>
            <p>Please enter a list of songs separated by new lines.</p>
            <p>New playlist on Spotify will be created automatically.</p>
            <form action="/createPlaylist?id=<%= id %>" method="post">
                <fieldset>
                    <input type="text" name="playlistName" value="New Playlist"/>
                    <input type="text" name="description" value="Created by PlaylistBuilder"/>
                    <textarea name="tracks" value="Take me Out" id="tracks"></textarea>
                    <br />

                    <input type="button" "button-primary" value="Clean Up Text" onclick="cleanUp(document.querySelector('#tracks'));">&nbsp;<input class="button-primary" type="submit" value="Create Playlist">
                </fieldset>
            </form>
            <% } %>
        </section>
    </main>
</body>

</html>
